In [ ]:
from sympy import*
x = Symbol ('x')

In [ ]:
x**2 +  10*x + 10
Derivative(x**2)
Integral(x**2)
3*x**2 + 10*x + 10

In [ ]:
Derivative(x**2).doit()

In [ ]:
Integral(x**2).doit()

In [ ]:
from sympy.plotting import *

In [ ]:
plot(x**2)

In [ ]:
plot(x**3)

In [ ]:
s = "Let´s learn Python"
s[10:]

In [ ]:
s = 'Pytho'
s + 'n'

In [ ]:
s = "Python"
s + " é " + "impressionante"

In [ ]:
nome = input('Digite seu nome:')
idade = int(input('Digite sua idade:'))
cidade = input('Digite sua cidade:')

print("Meu nome é ", nome, ", tenho", idade, "anos", "e moro na cidade de ", cidade, ".")

In [ ]:
"Meu nome é %s, tenho %d anos e moro na cidade de %s" %('Mark', 30, "NY")

In [ ]:
print("Meu nome é %s, tenho %d anos e moro na cidade de %s." %(nome,idade,cidade))

In [ ]:
nome = "João"
grana = 51.34
idade = 22


"%s tem %03d anos e R$%5.2f no bolso." %(nome, idade, grana)

In [ ]:
nome = 'Diego'
idade = 20
grana = 51.34
print(f"{nome} tem {idade} anos e {grana} no bolso.")

In [ ]:
pal = "Python"
char = pal[2]
print(char)

In [ ]:
fruta = 'banana'
nova_fruta = fruta.replace('a', 'o')
print(nova_fruta)

In [ ]:
frutas = 'apple,banana,orange'
frutas.split(',')

In [ ]:
frase = '    Python     '
frase.strip()

In [ ]:
frase2 = '//// Python'
frase2.strip('/ ')